@font-face {
    font-family: "Arial";
    src: url("assets/fonts/arial-regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    background-color: #474a51;
    margin: 1rem 2rem;
}

.slider {
    overflow: hidden;
    max-width: 40rem;
    margin: 1rem 1rem 2rem;
}

.slider-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400%;
}

.slide {
    width: 100%;
}

.image {
    max-width: 100%;
}

.slider-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    overflow-y: hidden;
}

.captions-wrapper {
    overflow: hidden;
}

.captions {
    width: 100%;
    height: 1.4rem;
}

.caption {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

.slider input {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
}

label {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ffbf00;
    border: 0.1rem solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

label:hover .circle {
    border-color: #ffbf00;
}

label:active .circle {
    background-color: #ffea00;
}

#slide1:checked ~ .slider-inner {
    transform: translate(0);
    transition: transform 0.5s ease;
}

#slide1:checked ~ .slider-outer .captions-wrapper .captions {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

#slide2:checked ~ .slider-inner {
    transform: translate(-25%);
    transition: transform 0.5s ease;
}

#slide2:checked ~ .slider-outer .captions-wrapper .captions {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

#slide3:checked ~ .slider-inner {
    transform: translate(-50%);
    transition: transform 0.5s ease;
}

#slide3:checked ~ .slider-outer .captions-wrapper .captions {
    transform: translateY(-200%);
    transition: transform 0.5s ease;
}

#slide4:checked ~ .slider-inner {
    transform: translate(-75%);
    transition: transform 0.5s ease;
}

#slide4:checked ~ .slider-outer .captions-wrapper .captions {
    transform: translateY(-300%);
    transition: transform 0.5s ease;
}

#slide1:checked ~ .slider-outer .pagination label[for="slide1"] .circle,
#slide2:checked ~ .slider-outer .pagination label[for="slide2"] .circle,
#slide3:checked ~ .slider-outer .pagination label[for="slide3"] .circle,
#slide4:checked ~ .slider-outer .pagination label[for="slide4"] .circle {
    background-color: transparent;
}